   /* Estilos personalizados */
   body {
    padding-top: 50px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .recommended {
    margin-top: 50px;
  }
  
  .brand-logos {
    margin-top: 50px;
  }
  
  .brand-logos img {
    height: 80px;
    margin: 10px;
  }
  
  footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
  }