{% extends "base.html"%}
{% load static %}

{% block titulo %}

Te Lo Vendo - Registro

{% endblock %}

{% block content %}
<div class="card container p-3" style="width: 40%;">
    <p class="fs-1 h1">
        Registrate para <br>comenzar a AHORRAR
    </P>
    <p>
        <em>
        Los campos con <span class="text-danger">*</span> son obligatorios.
        <br>La contraseña sera enviada a su correo electronico, coloque uno que tenga acceso.
        </em>
    </p>
<form>
    <div class="form-row">
        <div class="form-group col-md-4">
          <label for="username">Nombre de usuario <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group col-md-4">
            <label for="rut">
              RUN
              <em>
                  (sin puntos con guión)
              </em>
              <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="rut" name="rut" placeholder="Ejemplo: 12345678-9">
          </div>
        <div class="form-group col-md-4">
            <label for="telefono">Telefono 
                <em>
                    (Ej: 912345678)
                </em>
                <span class="text-danger">*</span></label>
            <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su numero de telefono">
          </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="first_name">Primer nombre <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Ingrese su nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="segundo_nombre">Segundo Nombre</label>
        <input type="text" class="form-control" id="segundo_nombre" name="segundo_nombre" placeholder="Ingrese su segundo nombre">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="last_name">Primer Apellido <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Ingrese su apellido">
        </div>
        <div class="form-group col-md-6">
          <label for="segundo_apellido">Segundo Apellido</label>
          <input type="text" class="form-control" id="segundo_apellido" name="segundo_apellido" placeholder="Ingrese su segundo apellido">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="direccion">Dirección <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese su dirección">
          </div>
        <div class="form-group col-md-6">
          <label for="email">Correo electronico <span class="text-danger">*</span></label>
          <input type="email" class="form-control" id="email" name="email" placeholder="sucorreo@ejemplo.com">
        </div>
      </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Registrate</button>
  </form>
</div>

<!-- Inicio Registro -->
<section class="h-100 gradient-form">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-0 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card bg-glass border-0 m-5">
                                <div class="text-start mb-5">

                                </div>
                                    <div class="row ">
                                        <div class="mb-2 text-end">
                                            <!--inicio formulario-->
                                            <div class="container">
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <p class="fs-6 fw-italic">Los campos con <span class="text-danger">*</span> son obligatorios.</p>
                                                <div class="row">
                                                    <div class="col">
                                                        <p>
                                                            <label class="fw-bold mb-1  fs-5" for="first_name">
                                                                Primer Nombre <span class="text-danger">*</span>
                                                            </label>
                                                        </p>
                                                        <p>
                                                            <label class="fw-bold mb-1  fs-5" for="segundo_nombre">
                                                                Segundo Nombre
                                                            </label>
                                                        </p>
                                                        <p>
                                                            <label class="fw-bold mb-1  fs-5" for="last_name">
                                                                Primer Apellido <span class="text-danger">*</span>
                                                            </label>                                                            
                                                        </p>
                                                        <p>
                                                            <label class="fw-bold mb-1  fs-5" for="segundo_apellido">
                                                                Segundo Apellido
                                                            </label>
                                                        </p>
                                                        <p>
                                                            <label class="fw-bold mb-1  fs-5" for="username">
                                                                Nombre de usuario <span class="text-danger">*</span>
                                                            </label>
                                                        </p>
                                                        <p>
                                                            <label class="fw-bold mb-1  fs-5" for="email">
                                                                Correo electronico <span class="text-danger">*</span>
                                                            </label>
                                                        </p>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        <input type="text" id="first_name" name="first_name"
                                                    class="form-control" placeholder="Nombre" aria-label="Username"
                                                    aria-describedby="basic-addon1" required>
                                                    </p>
                                                    <p>
                                                        <input type="text" id="last_name" name="last_name" class="form-control"
                                                    placeholder="Apellido" aria-label="Username"
                                                    aria-describedby="basic-addon1" required>
                                                </p>
                                                    <p>
                                                        <input type="text" id="username" name="username" class="form-control"
                                                    placeholder="Usuario" aria-label="Username"
                                                    aria-describedby="basic-addon1" required>
                                                </p>
                                                    <p>
                                                        <input type="email" id="email" name="email" class="form-control"
                                                    placeholder="E-mail" aria-label="Username"
                                                    aria-describedby="basic-addon1" required>
                                                </p>
                                                    <p>
                                                        <input type="email" id="email" name="email" class="form-control"
                                                    placeholder="E-mail" aria-label="Username"
                                                    aria-describedby="basic-addon1" required>                                                    </p>
                                                    <p>
                                                        <input type="email" id="email" name="email" class="form-control"
                                                    placeholder="E-mail" aria-label="Username"
                                                    aria-describedby="basic-addon1" required>
                                                    </p>
                                                    <p>
                                                        <input type="email" id="email" name="email" class="form-control"
                                                    placeholder="E-mail" aria-label="Username"
                                                    aria-describedby="basic-addon1" required>
                                                    </p>
                                                </div>
                                            </form>
                                            {% if error %}
                                            <p>{{ error }}</p>
                                            {% endif %}
                                            </div>
                                            <div class="text-start mt-3">
                                                <input type="submit" class="btn btn-primary mb-1"
                                                    value="Registrate">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center" id="gradiente_verde">
                                            <div class="text-white text-center py-4 p-md-5 mx-md-4">
                                                <h3 class="mb-4 fw-bold">Somos más que solo una empresa</h3>
                                                <p class="small mb-0 fs-4 mx-4">En “Yo quiero otro Mundo” estamos comprometidos con
                                                    la causa, y
                                                    siempre nos la jugamos por lo creemos correcto. </p>
                                                <div class="card-body border border-light rounded-2 mt-5 bg-success fs-4 mx-4">
                                                    Regístrate para ser parte de nuestra comunidad y recibir noticias,
                                                    descuentos en
                                                    capacitaciones y consejos todas las semanas.
                                                </div>
                                            </div>
                                        </div>
                                            <!--fin formulario-->
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fin Registro -->


{% endblock %}