{% extends "pedido_list.html" %}
{% load static %}

{% block content %}

<section class="header">
    <divc class="title-wrapper">
      <h1 class="sweet-title">
        <span data-text="Sweet">Bienvenido</span>
        <span data-text="Stuff">{{user.username}}</span>
      </h1>
      <span class="top-title">Tenemos la solucion 🤓</span>
      </div>
  </section>
<div class="container text-center mb-5">
    <h1 class="fs-1">
        <p class="mt-5">
        ¡Nos encanta tenerte aqui!            
        </p>
    </h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h3>
                    <p>
                        Visita nuestro catalogo y llevate los mejores productos
                    </p>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg" href="{% url 'catalogo' %}">Catalogo de productos</button>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}