{% extends "pedido_list.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col my-5">
            <Span class="text-center">
                <p class="h1 fs-1 fw-bold text-light">
                    CATALOGO DE PRODUCTOS
                </p>
            </Span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-3 col-sm-12">
            <div class="col-2"style="margin-top: 3%;">
              </div>
        </div>
        <div class="row" id="catalogo">
            {% for producto in productos %}<a href="{% url 'producto' producto.id %}" style="color: #141414; text-decoration: none;">
            <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-3 col-sm-6 text-start ">
                <div class="card mx-auto mt-4 mb-2 text-start" style="height: 22rem; width: auto; justify-content: center; align-items: center; padding-top: 0!important; padding-bottom: 0!important;">
                    <br>
                    <img src="{{producto.imag.url}}" class="card-img-top" alt="Imagen del producto" height="120px" width="100px">
                    <div class="card-body">
                        <h5 class="card-title text-start">{{ producto.nombre|title|truncatechars:40 }}</h5>
                        <p class="h3 fs-3 text-start">${{ producto.precio_venta }} {%if producto.stock <= 0 %}<small>(Agotado)</small>{% endif %}</p>
                        <p class="card-text text-start">{{ producto.descripcion|truncatechars:50 }}</p>
                        {% if user.is_authenticated %}
                        <p><a class="btn btn-primary"href="{% url 'addCarrito' producto.id %}">Añadir al Carro</a></p>
                        {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
</div>
{% endblock %}