{% extends "pedido_list.html" %}
{% load static %}

{% block modal %}
<div class="modal fade m-2" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="staticBackdropLabel"><b>Pedido N°: {{ pedido.id }}</b></h3>
          <ul class="text-center mt-4" style="list-style: none;">
            <li>Realizado el <b>{{ pedido.fecha_pedido }}</b> via <b>{{ pedido.mediopedido }}</b></li>    
        </ul>
        <a href="{% url 'lista_pedido' %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg></a>
        </div>
        <div class="modal-body">

<!--Info cliente-->
<div class="card border border-0">
    <h3>Informacion del Cliente:</h3>
    <p><strong>Usuario:</strong> 
        {% if pedido.idcliente.username != none %}{{ pedido.idcliente.username }}{%endif %}
    </p>
    <p><strong>Nombre Completo:</strong> 
        {% if pedido.idcliente.first_name != none %}{{ pedido.idcliente.first_name }}{%endif %}
        {% if pedido.idcliente.segundo_nombre != none %}{{ pedido.idcliente.segundo_nombre }}{%endif %}
        {% if pedido.idcliente.last_name != none %}{{ pedido.idcliente.last_name }}{%endif %}
        {% if pedido.idcliente.segundo_apellido != none %}{{ pedido.idcliente.segundo_apellido }}{%endif %}
    </p>
    <p><strong>Rut:</strong> {{ pedido.idcliente.rut }}</p>
    <p><strong>Teléfono:</strong> {{ pedido.idcliente.telefono }}</p>
    <p><strong>Email:</strong> {{ pedido.idcliente.email }}</p>
    <p><strong>Dirección de envío:</strong> {{ pedido.idcliente.direccion }}</p>
    <p><strong>Estado de envío:</strong> {{ pedido.estado }}</p>
    <form class="text-start" method="POST" action="" id="form1"> 
    {% csrf_token %}
    {% if user.is_staff  %}
        <label for="estado"> <b>Cambiar estado pedido:</b></label>
        <select id="estado" name="estado" onChange="eatFood();">
            <option value="0" selected>Selecciona un estado</option>
            <option value="Pendiente"{% if pedido.estado == 'Pendiente' %}{% endif %}>Pendiente</option>
            <option value="En Preparación"{% if pedido.estado == 'En Preparación' %}{% endif %}>En preparacion</option>
            <option value="En Despacho"{% if pedido.estado == 'En Despacho' %}{% endif %}>En Despacho</option>
            <option value="Entregado"{% if pedido.estado == 'Entregado' %}{% endif %}>Entregado</option>
        </select>
        {% endif  %}
      </form>
        <div class="text-center mt-3">
        </div>
</div>
<h3 class="text-center my-3">Productos:</h3>

{% for detalle in pedido.detallepedido_set.all %}
<ul> 
    <li>{{ detalle.idproducto.nombre }} x {{ detalle.cantidad }} Valor: ${{ detalle.precio }}</a></li>
</ul>
{%endfor%}
<ul>
<li class="text-end mb-3"> <b>Total a pagar: ${{pedido.precio_total}}</b></li>
</ul>
<div class="mb-3" style="text-align: center;">
{%if pedido.is_modificable or user.is_staff %}
  <a href="{% url 'crear_detalle' pedido.id %}" type="submit" class="btn btn-primary" method="POST" >Añadir Producto</a>
{% endif %}
</div> 
<!--Info cliente--> 

<hr>
    <p style="text-align: justify;"><small>Gracias por comprar en Te Lo Vendo. Si realizaste tu compra antes de las 12:00 PM tu pedido será enviado el mismo dia y llegará a tu hogar en 1 día (RM) o 5 días (regiones). Nuestro courrier de 
        despacho es Repartos patito. Recuerda verificar tu direccion y que esté alguien disponible en tu casa al momento de la entrega. </small>
    </p>
    <div style="text-align: center;">
      {%if pedido.is_modificable %}
        <form method="POST" action="{% url 'confirmarpedido' pedido.id %}" >
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Confirmar pedido">
      </form>
      {%else%}
      <a href="{% url 'lista_pedido' %}"  class="btn btn-warning" >Volver a Lista Pedidos</a>
      {% endif %}
      
      </div>      
</form>


   </div>
 </div>
</div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
      window.addEventListener('load', function() {
      console.log('La página ha terminado de cargarse!!');
  });
      $( document ).ready(function() {$('#staticBackdrop').modal('toggle')});</script>
      <script>$('#staticBackdrop').on('shown.bs.modal', function () {$( document ).ready('focus')});</script>
        <script>$(document).ready(function(){$("#staticBackdrop").modal("show");});</script>
     <script type="text/javascript">
      $(document).ready(function(){
          $(".modal").hide(0).delay(0).fadeIn(2000)
      });
      function eatFood() {
        document.getElementById('form1').submit();
        }
  </script>
  
{% endblock %}
