{% extends "pedido_list.html" %}
{% load static %}

{% block modal %}
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
<div class="container-fluid">
    <h1>{{ detallepedido.idpedido }}</h1>
    <ul style="list-style: none;">
        <li>Realizado el <b>{{ detallepedido.idpedido.fecha_pedido }}</b> via <b>{{ detallepedido.idpedido.mediopedido }}</b></li>
        
    </ul>
    <h2>Detalle del pedido</h2>
</div>

<!--Info cliente-->
<div class="card">
<h1>Informacion del Cliente:</h1>
<p><strong>Usuario:</strong> {{ detallepedido.idpedido.idcliente.username }}</p> 
<p><strong>Primer Nombre:</strong> {{ detallepedido.idpedido.idcliente.first_name }}</p>
<p><strong>Segundo Nombre:</strong> {{ detallepedido.idpedido.idcliente.segundo_nombre }}</p>
<p><strong>Primer Apellido:</strong> {{ detallepedido.idpedido.idcliente.last_name }}</p>
<p><strong>Segundo Apellido:</strong> {{ detallepedido.idpedido.idcliente.segundo_apellido }}</p>
<p><strong>Rut:</strong> {{ detallepedido.idpedido.idcliente.rut }}</p>
<p><strong>Teléfono:</strong> {{ detallepedido.idpedido.idcliente.telefono }}</p>
<p><strong>Email:</strong> {{ detallepedido.idpedido.idcliente.email }}</p>
<p><strong>Dirección de envío:</strong> {{ detallepedido.idpedido.idcliente.direccion }}</p>
<p><strong>Estado de envío:</strong> {{ detallepedido.idpedido.estado }}</p>
</div>
<p><small style="text-align: justify;">Gracias por comprar en Te Lo Vendo. Si realizaste tu compra antes de las 12:00 PM tu pedido será enviado el mismo dia y llegará a tu hogar en 1 día (RM) o 5 días (regiones). Nuestro courrier de 
    despacho es Repartos patito. Recuerda verificar tu direccion y que esté alguien disponible en tu casa al momento de la entrega.</small>
</p>
<ul>
    <strong>Detalle del pedido:</strong> 
    <li>{{ detallepedido.idproducto.nombre }}</li>
    <li>{{ detallepedido.cantidad }}</li>
    <li>{{ detallepedido.precio }}</li>
    <li>{{ detallepedido.idpedido.precio_total }}</li>
</ul>
<!--Info cliente-->
{% if user.is_staff or user.is_superuser %}
{% comment %} <form method="POST" action="{% url 'detalle_pedido' detallepedido.idpedido.id %}"> {% endcomment %}
    {% csrf_token %}
    <ul>
        <li>
             <label for="estado">Estado:</label>
            <select id="estado" name="estado" onChange="activa_boton(this,this.form.boton)">
                <option value="0" selected>Selecciona un estado</option>
                <option value="Pendiente" {% if pedido.estado == 'Pendiente' %}{% endif %}>Pendiente</option>
                <option value="En Preparación" {% if pedido.estado == 'En Preparación' %}{% endif %}>En preparacion</option>
                <option value="En Despacho" {% if pedido.estado == 'En Despacho' %}{% endif %}>En Despacho</option>
                <option value="Entregado" {% if pedido.estado == 'Entregado' %}{% endif %}>Entregado</option>
            </select>
        </li>
    </ul>
    <input class="btn btn-secondary" type="button" onclick="history.back()" name="Volver atras" value="Volver atras">
    <input class="btn btn-primary" type="submit" name="boton" id="boton" value="Actualizar pedido" disabled=true>
</form>
{% endif %}


   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     <button type="button" class="btn btn-primary">Understood</button>
   </div>
 </div>
</div>
</div>
<script language="javascript">
    function activa_boton(campo,boton){
       if (campo.value != "0"){
           boton.disabled=false;
       } else {
           boton.disabled=true;
       }
   }
   </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
      window.addEventListener('load', function() {
      console.log('La página ha terminado de cargarse!!');
  });
      $( document ).ready(function() {$('#staticBackdrop').modal('toggle')});</script>
      <script>$('#staticBackdrop').on('shown.bs.modal', function () {$( document ).ready('focus')});</script>
        <script>$(document).ready(function(){$("#staticBackdrop").modal("show");});</script>
     <script type="text/javascript">
      $(document).ready(function(){
          $(".modal").hide(0).delay(0).fadeIn(2000)
      });
  </script>
  
{% endblock %}
