{% extends "base.html"%}
{% load static %}

{% block content %}
<body class="m-3">
    <div class="card rounded-5 border-0 col-sm-12 col-md-12 col-lg-12" id="gradiente_fondo">
        <img class="mx-auto d-block img-fluid" id="logo" src="../img/fenix.png" alt="logo">

        <p class="mx-auto mt-3 text-bg-secondary text-white fs-1 fw-bold position-relative text-center rounded-4"
            style="width: 200px;">
            FENIX
        </p>
        <p class="mx-auto text-bg-secondary text-white fs-5 fw-bold position-relative text-center rounded-4"
            style="width: 200px;">
            "HECHOS PARA LA TECNOLOGÍA"
        </p>
    </div>
    <nav
        class="navbar navbar-expand-sm bg-secondary navbar-dark border border-secbg-secondary-subtle border-4 mb-3 mt-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white " href="../index.html"> Inicio </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="how_to_buy.html"> ¿Cómo
                            comprar?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="products.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="brands.html"> Marcas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="contact.html"> Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
    <div class="row">
        <div class="col col-sm-4">
            <div class="card border-0">
                <div class="card-body m-3 border-0">
                    <img src="../img/placa.png" class="img_producto" alt="producto">
                </div>
            </div>
        </div>
        <div class="col col-sm-8">
            <div class="card border-0">
                <div class="card-body m-3 bg-secondary-subtle">
                    <ul class="list-group m-3 ">
                        <li class="list-group-item m-1 rounded-2 border-0 bg-primary-subtle">Placa Madre Aorus X670
                            Elite AX</li>
                        <li class="list-group-item m-1 rounded-2 border-0 bg-primary-subtle">$359.990</li>
                        <li class="list-group-item m-1 rounded-2 border-0 bg-primary-subtle">Reseña <em>(5
                                estrellas)</em><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                class="bi bi-star-fill"></i></li>
                    </ul>
                    <ul class="list-group m-3 bg-secondary">
                        <li class="list-group-item m-3 bg-secondary text-light">Especificaciones</li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0">
                            Unparalleled Performance: Twin 16*+2+2 Phases Digital VRM Solution</li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0">Dual Channel DDR5: 4*SMD
                            DIMMs with AMD EXPO™ & Intel® XMP Memory Module Support</li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0"> Next Generation Storage:
                            1*PCIe 5.0 x4 and 3*PCIe 4.0 x4 M.2 Connectors</li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0">Mega-Heatpipe & M.2 Thermal
                            Guard：To Ensure VRM Power Stability & 25110 PCIe 5.0 M.2 SSD
                            Performance</li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0">EZ-Latch: PCIe x16 Slot & M.2
                            Connectors with Quick Release & Screwless Design</li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0"></li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0">Fast Networks: 2.5GbE LAN &
                            Wi-Fi 6E 802.11ax</li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0"> Extended Connectivity: HDMI,
                            Dual USB-C® 20Gbps and Upcoming GIGABYTE USB4 AIC Support</li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0">Smart Fan 6: Features Multiple
                            Temperature Sensors, Hybrid Fan Headers with FAN STOP
                        </li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0"> Q-Flash Plus: Update BIOS
                            Without Installing the CPU, Memory and Graphics Card</li>

                    </ul>
                    <div class="card m-3">
                        <div class="card-body botones bg-primary-subtle">
                            <button type="button" class="btn btn-outline-primary btn-custom">-</button>
                            <button type="button" class="btn btn-outline-primary btn-custom">+</button>
                            <button type="button" class="btn btn-primary">Añadir al carro</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}