{% extends "base.html"%}
{% load static %}

{% block content %}

<h1 class="tipoLetra text-success text-center" style="margin-top: 100px;"> <span class="tipoLetra text-dark">¡¡¡
        {{user.first_name }} {{ user.last_name }}, Bienvenido a </span><span class="text-white">Te Lo Vendo</span>
</h1>

<hr>

<h1>Mis pedidos: </h1>

<table>
 
    {% for pedido in pedidos %}
    <tr>
        <td> {{pedido.nombre}} </td>
    </tr>
    {% empty %}
        <h3>No hay pedidos</h3>
    {% endfor %}
</table>

<hr>

{% endblock %}